@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Satisfy&display=swap');
h2{
    background: #fff url(https://images.unsplash.com/photo-1610311911648-24d33745eb39?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) fixed;
    font-family: "Brush Script MT";
    font-weight: 500;
    text-align: center;

}


.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #0f0f10;
    height: 85%;
}
.color1 {color: #15132a;}
.color2 {color: #5d305b;}
.color3 {color: #00bfff;}
.color4 {color: #00f3f8;}
.color5 {color: #b0ffff;}

body{
    font-family: 'Satisfy', cursive;
    background-color: #0f0f10;
    color:#fff;


}

head{
    font-family: 'Satisfy', cursive;
    background-color:#5d305b;
    color:#fff;

}


footer{
    font-family: 'Roboto Slab', serif;
    background-color: #5d305b;
    color: #fff;

}
