@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

h2{
    background: #fff;
    font-family: "Brush Script MT";
    font-weight: 500;
    text-align: center;

}

h1{
    margin: 0;
    padding: 0;
    font-family: 'Satisfy', cursive;
    color:#fff;
}

.bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    z-index: -1;
    width: 100%;
    background-color: #0f0f10;
    height: 85%;
}
.color1{color:#302D2D;}

body{
    font-family: 'Satisfy', cursive;
    background-color: #302D2D;
    color:#fff;


}

head{
    margin-left: 150px;
    font-family: 'Satisfy', cursive;
    background-color:#5d305b;
    color:#fff;

}

p{
    text-indent:20px;
}

.lock {
  overflow: hidden;
}

.shell {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background: linear-gradient(#2B5FE9, #302D2D);
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-btn:before, .close-btn:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 15px;
  height: 2px;
  transform: rotate(45deg);
}

.close-btn:after {
  transform: rotate(-45deg);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter:  blur(3px);
  z-index: 12;
  display: flex;
  pointer-events: none;
  opacity: 0;
  padding: 0 30px;
  transition: opacity .3s;
}

.popup p, .popup h2 {
  color: #000;
}

.popup .popup__inner {
  max-width: 880px;
  margin: auto;
  background-color: #fff;
  width: 100%;
}

.popup .popup__entry {
  display: flex;
}

.popup .popup__image {
  flex: 0 0 50%;
  position: relative;
  padding-bottom: 50%;
}

.popup .popup__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popup .popup__content {
  flex: 0 0 50%;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.cards__grid {
  display: flex;
  flex-flow: wrap;
  margin: 0 -20px;
}

.card {
  flex: 0 0 calc(100% / 3);
  padding: 0 20px;
  margin-bottom: 40px;
}

.card .card__image a {
  display: block;
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

.card .card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer{
    text-indent:20px;
    font-family: 'Roboto Slab', serif;
    background: linear-gradient(#302D2D,#2B5FE9);
    color:#fff;

}

.footer__inner {
    display: flex;
    justify-content: space-around;
}


.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1;
    grid-row: 1;
  }
  .two {
    grid-column: 1;
    grid-row: 2 ;
  }
  .three {
    grid-column: 1;
    grid-row: 3;
  }
  .four {
    grid-column: 2;
    grid-row: 1;
  }
  .five {
    grid-column: 2;
    grid-row: 2;
  }
  .six {
    grid-column: 2;
    grid-row: 3;
  }
  .seven {
    grid-column: 3;
    grid-row: 1;
  }
  .eight {
    grid-column: 3;
    grid-row: 2;
  }
  .night {
    grid-column: 3;
    grid-row: 3;
  }
